<?xml version='1.0' encoding='UTF-8'?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>Dalmia Admin Panel</display-name>

    <session-config>
      <session-timeout>-1</session-timeout>
  </session-config>



  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.service.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessionType</display-name>
    <servlet-name>ProfessionType</servlet-name>
    <servlet-class>com.service.ProfessionType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessionType</servlet-name>
    <url-pattern>/GetProfessionType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.service.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetState</display-name>
    <servlet-name>GetState</servlet-name>
    <servlet-class>com.service.GetState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetState</servlet-name>
    <url-pattern>/GetState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCity</display-name>
    <servlet-name>GetCity</servlet-name>
    <servlet-class>com.service.GetCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCity</servlet-name>
    <url-pattern>/GetCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRegion</display-name>
    <servlet-name>GetRegion</servlet-name>
    <servlet-class>com.service.GetRegion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegion</servlet-name>
    <url-pattern>/GetRegion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQualification</display-name>
    <servlet-name>GetQualification</servlet-name>
    <servlet-class>com.service.GetQualification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQualification</servlet-name>
    <url-pattern>/GetQualification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSpecialization</display-name>
    <servlet-name>GetSpecialization</servlet-name>
    <servlet-class>com.service.GetSpecialization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSpecialization</servlet-name>
    <url-pattern>/GetSpecialization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetManpower</display-name>
    <servlet-name>GetManpower</servlet-name>
    <servlet-class>com.service.GetManpower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetManpower</servlet-name>
    <url-pattern>/GetManpower</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMachineries</display-name>
    <servlet-name>GetMachineries</servlet-name>
    <servlet-class>com.service.GetMachineries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMachineries</servlet-name>
    <url-pattern>/GetMachineries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUsersDetails</display-name>
    <servlet-name>GetUsersDetails</servlet-name>
    <servlet-class>com.service.GetUsersDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsersDetails</servlet-name>
    <url-pattern>/GetUsersDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTollFreeNo</display-name>
    <servlet-name>GetTollFreeNo</servlet-name>
    <servlet-class>com.service.GetTollFreeNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTollFreeNo</servlet-name>
    <url-pattern>/GetTollFreeNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQuery</display-name>
    <servlet-name>GetQuery</servlet-name>
    <servlet-class>com.service.GetQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuery</servlet-name>
    <url-pattern>/GetQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUsersQuery</display-name>
    <servlet-name>SaveUsersQuery</servlet-name>
    <servlet-class>com.service.SaveUsersQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUsersQuery</servlet-name>
    <url-pattern>/SaveUsersQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersRegistration</display-name>
    <servlet-name>UsersRegistration</servlet-name>
    <servlet-class>com.service.UsersRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersRegistration</servlet-name>
    <url-pattern>/UsersRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendOTP</display-name>
    <servlet-name>SendOTP</servlet-name>
    <servlet-class>com.service.SendOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendOTP</servlet-name>
    <url-pattern>/SendOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMachineriesSaveUpdate</display-name>
    <servlet-name>UserMachineriesSaveUpdate</servlet-name>
    <servlet-class>com.service.UserMachineriesSaveUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMachineriesSaveUpdate</servlet-name>
    <url-pattern>/UserMachineriesSaveUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManpowerSaveUpdate</display-name>
    <servlet-name>UserManpowerSaveUpdate</servlet-name>
    <servlet-class>com.service.UserManpowerSaveUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManpowerSaveUpdate</servlet-name>
    <url-pattern>/UserManpowerSaveUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSpeciliazationSaveUpdate</display-name>
    <servlet-name>UserSpeciliazationSaveUpdate</servlet-name>
    <servlet-class>com.service.UserSpeciliazationSaveUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSpeciliazationSaveUpdate</servlet-name>
    <url-pattern>/UserSpeciliazationSaveUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthOTP</display-name>
    <servlet-name>AuthOTP</servlet-name>
    <servlet-class>com.service.AuthOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthOTP</servlet-name>
    <url-pattern>/AuthOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserBasicDetails</display-name>
    <servlet-name>UpdateUserBasicDetails</servlet-name>
    <servlet-class>com.service.UpdateUserBasicDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserBasicDetails</servlet-name>
    <url-pattern>/UpdateUserBasicDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>com.service.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserList</display-name>
    <servlet-name>GetUserList</servlet-name>
    <servlet-class>com.service.GetUserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserList</servlet-name>
    <url-pattern>/GetUserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxController</display-name>
    <servlet-name>AjaxController</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxController</servlet-name>
    <url-pattern>/AjaxController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxControllerForEdition</display-name>
    <servlet-name>AjaxControllerForEdition</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxControllerForEdition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxControllerForEdition</servlet-name>
    <url-pattern>/AjaxControllerForEdition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSocialToken</display-name>
    <servlet-name>CheckSocialToken</servlet-name>
    <servlet-class>com.service.CheckSocialToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSocialToken</servlet-name>
    <url-pattern>/CheckSocialToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductCatalouge</display-name>
    <servlet-name>GetProductCatalouge</servlet-name>
    <servlet-class>com.service.GetProductCatalouge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductCatalouge</servlet-name>
    <url-pattern>/GetProductCatalouge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserProject</display-name>
    <servlet-name>SaveUserProject</servlet-name>
    <servlet-class>com.service.SaveUserProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserProject</servlet-name>
    <url-pattern>/SaveUserProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCallHistory</display-name>
    <servlet-name>SaveCallHistory</servlet-name>
    <servlet-class>com.service.SaveCallHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCallHistory</servlet-name>
    <url-pattern>/SaveCallHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterController</display-name>
    <servlet-name>FilterController</servlet-name>
    <servlet-class>com.AdminServiceAjax.FilterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterController</servlet-name>
    <url-pattern>/FilterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUsersProjects</display-name>
    <servlet-name>GetUsersProjects</servlet-name>
    <servlet-class>com.service.GetUsersProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsersProjects</servlet-name>
    <url-pattern>/GetUsersProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveDisapprove</display-name>
    <servlet-name>ApproveDisapprove</servlet-name>
    <servlet-class>com.AdminServiceAjax.ApproveDisapprove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveDisapprove</servlet-name>
    <url-pattern>/ApproveDisapprove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceRequest</display-name>
    <servlet-name>ServiceRequest</servlet-name>
    <servlet-class>com.service.ServiceRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceRequest</servlet-name>
    <url-pattern>/ServiceRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthSignupOTP</display-name>
    <servlet-name>AuthSignupOTP</servlet-name>
    <servlet-class>com.service.AuthSignupOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthSignupOTP</servlet-name>
    <url-pattern>/AuthSignupOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxAdminController</display-name>
    <servlet-name>AjaxAdminController</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAdminController</servlet-name>
    <url-pattern>/AjaxAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTvcVideos</display-name>
    <servlet-name>GetTvcVideos</servlet-name>
    <servlet-class>com.service.GetTvcVideos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTvcVideos</servlet-name>
    <url-pattern>/GetTvcVideos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxUploadFile</display-name>
    <servlet-name>AjaxUploadFile</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxUploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxUploadFile</servlet-name>
    <url-pattern>/AjaxUploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFaqs</display-name>
    <servlet-name>GetFaqs</servlet-name>
    <servlet-class>com.service.GetFaqs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFaqs</servlet-name>
    <url-pattern>/GetFaqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxFaqsController</display-name>
    <servlet-name>AjaxFaqsController</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxFaqsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxFaqsController</servlet-name>
    <url-pattern>/AjaxFaqsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxLandMark</display-name>
    <servlet-name>AjaxLandMark</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxLandMark</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxLandMark</servlet-name>
    <url-pattern>/AjaxLandMark</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelDownload</display-name>
    <servlet-name>ExcelDownload</servlet-name>
    <servlet-class>com.service.ExcelDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelDownload</servlet-name>
    <url-pattern>/ExcelDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxResetPassword</display-name>
    <servlet-name>AjaxResetPassword</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxResetPassword</servlet-name>
    <url-pattern>/AjaxResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProjectDetail</display-name>
    <servlet-name>EditProjectDetail</servlet-name>
    <servlet-class>com.service.EditProjectDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProjectDetail</servlet-name>
    <url-pattern>/EditProjectDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadProjectImage</display-name>
    <servlet-name>UploadProjectImage</servlet-name>
    <servlet-class>com.service.UploadProjectImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadProjectImage</servlet-name>
    <url-pattern>/UploadProjectImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadUserProfile</display-name>
    <servlet-name>UploadUserProfile</servlet-name>
    <servlet-class>com.service.UploadUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadUserProfile</servlet-name>
    <url-pattern>/UploadUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxUploadBanner</display-name>
    <servlet-name>AjaxUploadBanner</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxUploadBanner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxUploadBanner</servlet-name>
    <url-pattern>/AjaxUploadBanner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRegionalBanner</display-name>
    <servlet-name>GetRegionalBanner</servlet-name>
    <servlet-class>com.service.GetRegionalBanner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegionalBanner</servlet-name>
    <url-pattern>/GetRegionalBanner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjavFilterCity</display-name>
    <servlet-name>AjavFilterCity</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjavFilterCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjavFilterCity</servlet-name>
    <url-pattern>/AjavFilterCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxFilterState</display-name>
    <servlet-name>AjaxFilterState</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxFilterState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxFilterState</servlet-name>
    <url-pattern>/AjaxFilterState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDalmiaLandMarkProject</display-name>
    <servlet-name>GetDalmiaLandMarkProject</servlet-name>
    <servlet-class>com.service.GetDalmiaLandMarkProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDalmiaLandMarkProject</servlet-name>
    <url-pattern>/GetDalmiaLandMarkProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxEditUser</display-name>
    <servlet-name>AjaxEditUser</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxEditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEditUser</servlet-name>
    <url-pattern>/AjaxEditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxConstructionTipsController</display-name>
    <servlet-name>AjaxConstructionTipsController</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxConstructionTipsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxConstructionTipsController</servlet-name>
    <url-pattern>/AjaxConstructionTipsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConstructionTips</display-name>
    <servlet-name>GetConstructionTips</servlet-name>
    <servlet-class>com.service.GetConstructionTips</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConstructionTips</servlet-name>
    <url-pattern>/GetConstructionTips</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxEvent</display-name>
    <servlet-name>AjaxEvent</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEvent</servlet-name>
    <url-pattern>/AjaxEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEventList</display-name>
    <servlet-name>GetEventList</servlet-name>
    <servlet-class>com.service.GetEventList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventList</servlet-name>
    <url-pattern>/GetEventList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserProfileImage</display-name>
    <servlet-name>GetUserProfileImage</servlet-name>
    <servlet-class>com.service.GetUserProfileImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserProfileImage</servlet-name>
    <url-pattern>/GetUserProfileImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxUploadProfilePic</display-name>
    <servlet-name>AjaxUploadProfilePic</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxUploadProfilePic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxUploadProfilePic</servlet-name>
    <url-pattern>/AjaxUploadProfilePic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveProfileVisitCount</display-name>
    <servlet-name>SaveProfileVisitCount</servlet-name>
    <servlet-class>com.service.SaveProfileVisitCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProfileVisitCount</servlet-name>
    <url-pattern>/SaveProfileVisitCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxFilterUserRegion</display-name>
    <servlet-name>AjaxFilterUserRegion</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxFilterUserRegion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxFilterUserRegion</servlet-name>
    <url-pattern>/AjaxFilterUserRegion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxFilterDistric</display-name>
    <servlet-name>AjaxFilterDistric</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxFilterDistric</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxFilterDistric</servlet-name>
    <url-pattern>/AjaxFilterDistric</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxFilterCity</display-name>
    <servlet-name>AjaxFilterCity</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxFilterCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxFilterCity</servlet-name>
    <url-pattern>/AjaxFilterCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxEditOrAddPinCode</display-name>
    <servlet-name>AjaxEditOrAddPinCode</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxEditOrAddPinCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEditOrAddPinCode</servlet-name>
    <url-pattern>/AjaxEditOrAddPinCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDistric</display-name>
    <servlet-name>GetDistric</servlet-name>
    <servlet-class>com.service.GetDistric</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDistric</servlet-name>
    <url-pattern>/GetDistric</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjazFilterPinCode</display-name>
    <servlet-name>AjazFilterPinCode</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjazFilterPinCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjazFilterPinCode</servlet-name>
    <url-pattern>/AjazFilterPinCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPinCode</display-name>
    <servlet-name>GetPinCode</servlet-name>
    <servlet-class>com.service.GetPinCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPinCode</servlet-name>
    <url-pattern>/GetPinCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxEditRole</display-name>
    <servlet-name>AjaxEditRole</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxEditRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEditRole</servlet-name>
    <url-pattern>/AjaxEditRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxEditVideo</display-name>
    <servlet-name>AjaxEditVideo</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxEditVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEditVideo</servlet-name>
    <url-pattern>/AjaxEditVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCementShop</display-name>
    <servlet-name>AjaxCementShop</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxCementShop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCementShop</servlet-name>
    <url-pattern>/AjaxCementShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCementShopData</display-name>
    <servlet-name>GetCementShopData</servlet-name>
    <servlet-class>com.service.GetCementShopData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCementShopData</servlet-name>
    <url-pattern>/GetCementShopData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDeleteUser</display-name>
    <servlet-name>AjaxDeleteUser</servlet-name>
    <servlet-class>com.AdminServiceAjax.AjaxDeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDeleteUser</servlet-name>
    <url-pattern>/AjaxDeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserApprovedStatus</display-name>
    <servlet-name>UserApprovedStatus</servlet-name>
    <servlet-class>com.service.UserApprovedStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserApprovedStatus</servlet-name>
    <url-pattern>/UserApprovedStatus</url-pattern>
  </servlet-mapping>

  <!--rest api-->
  

  
</web-app>